---
title: "People"
layout: default
permalink: "/people.html"
---

<div class="container">

<h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3>

    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.authors %}
       {% include person-template.html alt="520px" %}
    {% endfor %}
    </div>
    
    
<h3 class="font-weight-bold spanborder"><span>Alumni</span></h3>

    <div class="row gap-y listrecent listrecent listauthor">
    {% for author in site.alumni %}
       {% include person-template.html alt="200px" %}
    {% endfor %}
    </div>
    
</div>
