---
title: "Publications"
layout: default
permalink: "/publications.html"
---

<div class="container">
<!-- <h3 class="font-weight-bold spanborder"><span>{{page.title}}</span></h3> -->

<div class="sticky-top sticky-top-offset">

    <h3 class="font-weight-bold spanborder"><span>Submitted preprints</span></h3>

    <ol class="list-featured">				
        {% for paper in site.papers %}
        {% if paper[1].preprint == "yes" %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{ paper[1].url }}" class="text-dark" target="_blank" >{{ paper[1].title }}</a>
                </h6>
                <span class="d-block text-muted">
                    {{ paper[1].authors }}
                </span>
                <span class="d-block text-muted">
                    <i>{{ paper[1].journal }}</i>, {{ paper[1].year }}.
                </span>
            </span>
            </li>   
        {% endif %}             
        {% endfor %}   
    </ol>

<!-- <span class="d-block text-muted">* Joint first authors.<br><br><br></span> -->

<h3 class="font-weight-bold spanborder"><span>Publications</span></h3>

    <ol class="list-featured">				
        {% for paper in site.papers %}  
        {% if paper[1].preprint != "yes" %}                              
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{ paper[1].url }}" class="text-dark" target="_blank" >{{ paper[1].title }}</a>
                </h6>
                <span class="d-block text-muted">
                    {{ paper[1].authors }}
                </span>
                <span class="d-block text-muted">
                    <i>{{ paper[1].journal }}</i>, {{ paper[1].year }}. {% if paper[1].appendix %}<a href="/docs/{{ paper[1].appendix }}" class="text-dark" target="_blank" >Appendix</a>.{% endif %}                     
                </span>
                {% if paper[1].recommendation == "yes" %}
                <span class="d-block text-muted" >
                    A recommendation of: {{ paper[1].recommendationauthor }} ({{ paper[1].recommendationyear }}). <a href="{{ paper[1].recommendationurl }}" class="text-dark" target="_blank" >{{ paper[1].recommendationtitle }}</a>.
                </span>
                {% endif %} 
            </span>
            </li>   
        {% endif %}             
        {% endfor %}   
    </ol>

</div> 
</div>
