<div class="col-lg-6 mb-2">
    <div class="p-3 border rounded">
        <div class="row" style="min-height:{{ include.alt }}">
            <div class="col-md-3 mb-3 mb-md-0">
                {% unless include.grey == "true" %}
                <img alt="{{ session.person }}" src="/assets/images/people/{{ session.photo }}" class="rounded-circle" height="85" width="85">
                {% else %}
                <img style="filter:grayscale(100%)" alt="{{ session.person }}" src="/assets/images/people/{{ session.photo }}" class="rounded-circle" height="85" width="85">
                {% endunless %}
            </div>
            <div class="col-md-9">
                <h4 class="text-dark mb-0" style="margin-top:0px;margin-bottom:0px;"> {{ session.person }} </h4>
                <small class="d-inline-block mt-1 mb-1 font-weight-normal" style="color:#006400;margin-bottom:0px;">Session {{ session.date }}</small>
                <div class="excerpt" style="text-align:left;margin-top:0px;margin-bottom:auto;">
                    {% if session.paper_author %}
                    <a target="_blank" href="/docs/TEEB/{{ session.paper_file }}"><i class="fa fa-file-text" aria-hidden="true"></i> <b>{{ session.paper_author }}{% if session.paper_year %}, {{ session.paper_year }}{% endif %}</b></a>: {{ session.paper_title }}. 
                    {% else %}
                    <i class="fa fa-file-text" aria-hidden="true"></i> TBA  
                    {% endif %} 
                    {% if session.extra_title %}
                    <p><a target="_blank" href="/docs/TEEB/{{ session.extra_file }}"><i class="fa fa-file-text" aria-hidden="true"></i> {{ session.extra_title }}</a></p>
                    {% endif %} 
                </div>
            </div>
        </div>
    </div>
</div>
